.logo{
    height: 60px;
    width: 160px;
}
.hed{
    background-color: #F0FFF0;
}
.container-fluid{
    background-color: #F0FFF0;
}
.xy{
    height: 43px;
    width: 104px;
    left: 1201px;
    top: 25px;
    border-radius: 33px;
    padding: 12px, 28px, 12px, 28px;
    background-color: initial;
    border: none;

}
.xy:hover{
    background-color: #21B573;
    color: white;

}
.xyy{
    height: 43px;
    width: 150px;
    left: 1201px;
    top: 25px;
    border-radius: 33px;
    padding: 12px, 28px, 12px, 28px;
    background-color: #21B573;
    border: none;
    color: white;

}
.xyy1{
    height: 35px;
    width: 120px;
    left: 1201px;
    top: 25px;
    border-radius: 33px;
    padding: 12px, 28px, 12px, 28px;
    background-color: #21B573;
    border: none;
    color: white;

}
.we{
    height: 300px;
}
.xyz{
    margin-left: 150px;
    margin-top: 100px;
}
.xyz1{
    margin-top: 100px;
}
.slide{
    background-color: #F0FFF0;
}
.navbar{
    background-color: #F0FFF0;
    padding-bottom: 0%;
}
.gr1{
    font-weight: bold;
    color: seagreen;
}
.redText
    {
        font-weight: bold;
        color: black;
    }
.blackText
{
    color:seagreen;
    font-weight:bold;
}
.book{
    height: 70px;
    width: 50px;
}
.text1{

font-family: Poppins;
font-weight: bold;
font-size: 24px;
line-height: 36px;
}
.mna{
    height: 300px;
}
.card-item {
    border: none;
    border-radius: 10px;
    height: 220px;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.card-item:hover {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    height: 220px;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.req{
    border: none
}
.card-img-top{
    width: 331px;
    height: 234px;
    margin-top: 30px;
    border-radius: 11px;
}
.card1{
    height: 450px;
    width: 370px;
    margin-left:65px;
    border-radius: 20px;
}
.card-deck{
    margin-top: 80px;
}
.cxx{
    margin-top: 80px;
}
.t1{
    justify-content: initial;
    align-items: unset;
}
.calender{
    width: 24px;
    height: 24px;
}
.sewq{
    height: 300px;
    width: 1fr;
}
.man{
    position: absolute;
    width: 170px;
    height: 140px;
    margin-left: 60px;
}
.qwe{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qwe1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ft1{
    height: 400px;
    width: 1fr;
    background-color: #282531;
}
.erw{
    height: 400px;
}
.ewq{
    margin-top: 60px;
    margin-left: 60px;
}
@media screen and (max-width:600px) {
    .we{
        overflow: hidden;
        height: 100px;
    }
    .xyz{
        margin-left: 10px;
        font-size: 70%;
    }
    .xyz h1{
        font-size: 110%;
    }
    .xyy{
        font-size: 80%;
        height: 80%;
        width: 80%;
        border-radius: 0%;
    }
    .mna{
        font-size: 70%;
    }
    .mna h5{
        font-size: 110%;
    }
    .mna .book{
        height: 25%;
    }
    .cxx{
        margin-top: 0px;
    }
    .mna{
        height: 60%;
    }
    .card1{
        height: 460px;
        width: 360px;
        margin-left:15px;
        border-radius: 20px;
        margin-top: 10px;
    }
    .sewq{
        display: inline;
    }
    .man{
        width: 170px;
        height: 140px;
        margin-top: 35px;
        margin-left: 33%;
    }
    .qwe{
        display: inline;
        justify-content: center;
        align-items: center;
    }
    .qwe h4{
        margin-top: 70px;
    }
    .four{
        align-items: center;
    }
}